{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'home:api_q_create' %}" class="btn btn-danger">Create question</a>
    <br><hr/>
    <h2>API questions list</h2><br>
    <br>
        <ul>
            {% for j in json_response %}
                <li><b>Question {{ j.id }}:</b> {{ j.username }} asked "{{ j.body }}"  -  {{ j.created }}
                </li>
                <b>answers :</b><br>
                {% for i in j.answers %}
                {{ i.username2 }} answered: "{{ i.body}}"<br>
                {% empty %}
                no answer<br>
                {% endfor %}
                <a href="{% url 'home:api_q_update' j.id %}" class="btn btn-warning">Update question</a>
                <a href="{% url 'home:api_q_delete' j.id %}" class="btn btn-danger">Delete question</a>
                <br><br>
            {% endfor %}
        </ul><br><br>
        
{% endblock %}