{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'home:upload' %}">Upload</a>            <a class="btn btn-info" href="{% url 'home:bucket_pics' %}">All Bucket Pictures</a>
    <br\>
    <hr>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Size</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ obj.Key }}</td>
      <td>{{ obj.LastModified|timesince }} ago</td>
      <td>{{ obj.Size|filesizeformat }}</td>
      <td><a href="{% url 'home:download_obj_bucket' obj.Key %}" class="btn btn-primary">Download</a>
      <a href="{% url 'home:delete_obj_bucket' obj.Key %}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}