{% extends 'base.html' %}

{% block content %}
    <h3>Cart</h3>
    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.product }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity}}</td>
      <td><a>{{ item.total_price}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}