{% extends 'base.html' %}

{% block content %}
    <h3>Cart</h3>
    <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.product }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity}}</td>
      <td>{{ item.total_price}}</td>
      <td><a href="{% url 'orders:cart_remove' item.product.id %}" class="btn btn-danger">Remove</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4">{% if cart.get_total_price is not 0 %} Total Cart Price {% else %} your Cart is empty {% endif %}</td>
      <td colspan="2">{{cart.get_total_price}}</td> 
    </tr>
  </tbody>
</table>
<br\>
<a class="btn btn-primary" href="{% url 'orders:order_create' %}">Checkout</a>
<br><br><br\>
<a class="btn btn-info" href="{% url 'orders:unpaid_orders' %}">you have unpaid orders</a>
{% endblock %}