{% extends 'base.html' %}

{% block content %}
    <h3>Unpiad Orders</h3>
    <br><br\>
    {% for order in orders %}
        <a class="btn btn-secondary" href="{% url 'orders:unpaid_detail' order.id %}">order number {{order.id}} with price {{ order.get_total_price }} $</a>
        <a class="btn btn-danger" href="{% url 'orders:delete_unpaid' order.id %}">Delete this order $</a>
        <br><br\>
        <br><br\>
        <br><br\>
    {% empty %}
        <b> ✅ You dont have any unpaid orders</b>
    {% endfor %}
{% endblock %}